<ion-view view-title="Menu">

  <ion-content>	
	
	<div class="list card">

	  <div class="item item-divider">
	    <h2>{{article.nom}}</h2>
	    
	  </div>

		<div class="item item-body">

			<p>{{article.description}}</p>

		<div class="button-bar" ng-hide="choixTaille">
		    <a class="button" ng-class="{'button-positive': isActive('prix1')}" ng-click="setActive('prix1')"><b>Petite</b><div>{{article.prix1}}€</div></a>
		    <a class="button" ng-class="{'button-positive': isActive('prix2')}" ng-click="setActive('prix2')"><b>Moyenne</b><div>{{article.prix2}}€</div></a>
		    <a class="button" ng-class="{'button-positive': isActive('prix3')}" ng-click="setActive('prix3')"><b>Grande</b><div>{{article.prix3}}€</div></a>
		</div>


<div><h3>Quantité</h3></div>

<div class="row quantite">
  
  <div class="col"><a class="button button-icon icon ion-minus-round" ng-click="moins()"></a>
    <a class="button button-light">{{article.quantite}}</a>
    <a class="button button-icon icon ion-plus-round" ng-click="plus()"></a></div>
  <div class="col text-droite"><a class="button button-clear"><h2>Total : {{article.total}}€</h2></a></div>
        
</div>


		<button ng-class="button-assertive" class="button button-block" ng-click="SupprimerAjouter()">Supprimer du panier</button>

		</div>

	</div>

  </ion-content>


</ion-view>
