  <ion-modal-view ng-controller="LoginCtrl">

    <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="fermer()">Close</button>
    </div>
  </ion-header-bar>

    <ion-content class="padding">

    <p>Vous devez être connecté(e) pour accéder à vos points, vos favoris ou encore passer une commande.</p>
      
        <div class="list">
          <form ng-submit="login()">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" placeholder="email">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password">
            </label>
            <button type="submit" class="button button-block">se connecter</button>
          </form>
            <a ng-click="fermerModal()" href="#/tab/points/inscription" class="button button-block">s'inscrire</a>
            <a ng-click="fermerModal()" class="button button-block">oublié ?</a>
        </div>
      
    </ion-content>
  </ion-modal-view>